/* ===================================================
COMPONENT: PICTURE
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-picture"] {

	.picture__image {
		max-width: 100%;
		overflow: hidden;
		transition: filter 300ms ease;

		&.lazyload {
			width: 100%;
			filter: blur(10px);
		}

		&.lazyloaded {
			filter: blur(0);
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-picture--default {
}
