/* ===================================================
Component: toggler
=================================================== */

/* ---------------------------------------------------
Global Variables
--------------------------------------------------- */
$toggler-animation-duration-std: 500ms;
$toggler-animation-easing-std: ease-in-out;

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-toggler"] {
	height: 0;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	transition: opacity $toggler-animation-duration-std $toggler-animation-easing-std, height $toggler-animation-duration-std $toggler-animation-easing-std, visibility 0ms linear $toggler-animation-duration-std;

	&.is-open {
		opacity: 1;
		visibility: visible;
		z-index: 1;
		transition: opacity $toggler-animation-duration-std $toggler-animation-easing-std, height $toggler-animation-duration-std $toggler-animation-easing-std, visibility 0ms linear;
	}

	// !IMPORTANT for calculation
	&.is-calculating {
		position: absolute !important;
		visibility: hidden !important;
		display: block !important;
		height: auto !important;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-toggler--default {
}