---
publish: false
---
<div class="form__radio">
	{{#if content.label}}
		<div class="form__label-wrapper">
			<strong class="form__radio-legend">{{content.label}}{{#if settings.required}} <abbr
					title="Required">*</abbr>{{/if}}</strong>
		</div>
	{{/if}}
	<div class="form__radio-wrapper">
		{{#if content.headline}}
			<h2 class="form__radio-headline">{{content.headline}}</h2>
		{{/if}}

		<ul class="form__radio-list{{#if settings.wrapperClass}} {{settings.wrapperClass}}{{/if}}">
			{{#each content.radios}}
				{{> c-form__radio-item required=../settings.required}}
			{{/each}}
		</ul>
	</div>
</div>