<button type="submit" class="form__submit{{#if settings.submitClass}} {{settings.submitClass}}{{/if}}"{{#if settings.disabled}} disabled{{/if}}>
	<span class="form__submit-text">{{content.formSubmit}}</span>
</button>