@charset "UTF-8";
/* ===================================================
Main File For Imports
=================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ===================================================
FONT BASE SIZE
=================================================== */
html {
  font-size: 62.5%; }

body {
  font-size: 16px; }

/* ---------------------------------------------------
Animations
--------------------------------------------------- */
/* ===================================================
VEAMS SETTINGS
=================================================== */
/* ===================================================
BOURBON NEAT SETTINGS
=================================================== */
/* ===================================================
BREAKPOINT SETTINGS
=================================================== */
/* ===================================================
COLOR
=================================================== */
/* ===================================================
CENTERING MIXIN
=================================================== */
/* ===================================================
Clearfix
=================================================== */
/*
Extend
----------------------- */
/* ===================================================
FLOAT MIXIN
=================================================== */
/*
Extend
----------------------- */
.c-slider--default {
  float: left;
  width: 100%; }

/* ===================================================
Hiding Elements
=================================================== */
/* ---------------------------------------------------
ir
--------------------------------------------------- */
/* ---------------------------------------------------
Hidden
--------------------------------------------------- */
/* ---------------------------------------------------
Visually hidden
--------------------------------------------------- */
[data-css="c-form"] .form__radio-input, [data-css="c-form"] .form__checkbox-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  [data-css="c-form"] .is-focusable.form__radio-input:active, [data-css="c-form"] .is-focusable.form__checkbox-input:active, [data-css="c-form"] .is-focusable.form__radio-input:focus, [data-css="c-form"] .is-focusable.form__checkbox-input:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* ---------------------------------------------------
Visibility hidden
--------------------------------------------------- */
/* ---------------------------------------------------
Hide text
--------------------------------------------------- */
[data-js-module~="slider"] .slider__pagination-list-item, .c-pagination--default .pagination__list-item .is-hidden {
  color: transparent;
  font: 0/0 a;
  text-shadow: none; }

/* ===================================================
Inline Block Layouts
=================================================== */
/* ---------------------------------------------------
Mixin
--------------------------------------------------- */
/* ---------------------------------------------------
Extend
--------------------------------------------------- */
/* ===================================================
OMEGA RESET

	- used for Bourbon Neat
=================================================== */
/* ===================================================
Pseudo Element
=================================================== */
/*
Extend
----------------------- */
.c-accordion--default .accordion__btn::before, .c-accordion--default .accordion__btn::after, .c-pagination--default .pagination__list-element.is-previous::after, .c-pagination--default .pagination__list-element.is-next::after {
  content: '';
  display: block;
  position: absolute; }

/* ===================================================
Reset Button
=================================================== */
/*
Extend
----------------------- */
/* ===================================================
ARROW EFFECT
=================================================== */
/* ===================================================
BASE
=================================================== */
/* ---------------------------------------------------
Global styles
--------------------------------------------------- */
html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4; }

.js-logger {
  position: fixed;
  right: 20px;
  bottom: 20px;
  left: 20px;
  color: #fff;
  height: calc(100% / 6);
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  font-size: 14px;
  overflow-y: auto;
  z-index: 9999;
  border-radius: 10px;
  border: 10px solid red; }

.myHeading {
  font-weight: bolder;
  font-family: cursive;
  font-size: 150%;
  padding: 1em 0;
  color: #ff00d0; }
  .myHeading span {
    color: black;
    font-size: 70%; }

img {
  max-width: 100%; }

head {
  font-family: desktop; }
  @media only screen and (max-width: 1024px) {
    head {
      font-family: tablet-l; } }
  @media only screen and (max-width: 768px) {
    head {
      font-family: tablet-p; } }
  @media only screen and (max-width: 657px) {
    head {
      font-family: mobile-l; } }
  @media only screen and (max-width: 480px) {
    head {
      font-family: mobile-p; } }
  @media only screen and (max-width: 360px) {
    head {
      font-family: mobile-s; } }

.wrapper {
  margin: 0 auto;
  padding: 0 2em; }

/* ===================================================
Slider Module
=================================================== */
/* ---------------------------------------------------
Global Variables
--------------------------------------------------- */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-js-module~="slider"] {
  clear: both;
  display: block;
  position: relative;
  /**/
  margin: 0 0 2em;
  /*
	Unresolved state
	----------------------- */
  /*
	List
	----------------------- */
  /*
	Actions
	----------------------- */
  /*
	Pagination
	----------------------- */ }
  [data-js-module~="slider"].is-unresolved .slider__list {
    height: 300px;
    overflow: hidden; }
  [data-js-module~="slider"].is-unresolved .slider__item {
    opacity: 0; }
  [data-js-module~="slider"] .slider__list-wrapper {
    display: block;
    position: relative;
    overflow: hidden; }
    [data-js-module~="slider"] .slider__list-wrapper.is-overflow {
      overflow: visible; }
  [data-js-module~="slider"] .slider__list {
    left: 0;
    position: relative;
    transform: translate3d(0, 0, 0);
    transition: left 600ms ease; }
  [data-js-module~="slider"] .slider__item {
    float: left;
    width: 100%;
    position: relative;
    opacity: 0.3;
    transition: opacity 600ms ease;
    vertical-align: top; }
    [data-js-module~="slider"] .slider__item.is-active {
      opacity: 1; }
    [data-js-module~="slider"] .slider__item:first-child {
      margin-left: 0; }
    [data-js-module~="slider"] .slider__item .image {
      max-width: 100%; }
  [data-js-module~="slider"] .slider__controls-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 100; }
  [data-js-module~="slider"] .slider__control {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-style: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #b3b2b2;
    position: absolute;
    padding: 1rem;
    transition: background-color 150ms ease;
    color: black; }
    [data-js-module~="slider"] .slider__control:hover {
      cursor: pointer;
      background-color: black;
      color: white; }
    [data-js-module~="slider"] .slider__control.is-previous {
      left: 0; }
    [data-js-module~="slider"] .slider__control.is-next {
      right: 0; }
  [data-js-module~="slider"] .slider__pagination-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px; }
  [data-js-module~="slider"] .slider__pagination-list {
    margin: 0;
    padding: 0; }
  [data-js-module~="slider"] .slider__pagination-list-item {
    background-color: #b3b2b2;
    border-radius: 0;
    display: inline-block;
    height: 15px;
    margin: 0 5px;
    width: 15px;
    transition: background-color 150ms ease; }
    [data-js-module~="slider"] .slider__pagination-list-item:hover {
      cursor: pointer;
      background-color: #3c3b3b; }
    [data-js-module~="slider"] .slider__pagination-list-item.is-active {
      background-color: #000000; }
    [data-js-module~="slider"] .slider__pagination-list-item.is-hidden {
      display: none; }

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
/* ===================================================
UTILITY: GRID
=================================================== */
/* ---------------------------------------------------
Global Variables
--------------------------------------------------- */
/* ---------------------------------------------------
Mixin
--------------------------------------------------- */
/**
 * Generate a set of grid column classes using a namespace
 *
 * .is-col-[namespace]-[number] for a column that covers a specific number of columns (e.g. 1-12 by default)
 * .is-col-[namespace]-{ $grid-offset }-[number] for pushing a col a specific number of columns (e.g. 1-11 by default)
 */
/* ---------------------------------------------------
Grid Row
--------------------------------------------------- */
.is-grid-row,
.u-grid-row {
  *zoom: 1;
  /*
	Modifiers
	----------------------- */ }
  .is-grid-row::after,
  .u-grid-row::after {
    clear: both;
    content: "";
    display: block; }
  .is-grid-row::before, .is-grid-row::after,
  .u-grid-row::before,
  .u-grid-row::after {
    content: " ";
    display: table; }
  .is-grid-row::after,
  .u-grid-row::after {
    clear: both; }
  @media only screen and (min-width: 320px) {
    .is-grid-row.is-collapsed,
    .u-grid-row.is-collapsed {
      margin-left: -20px;
      margin-right: -20px;
      width: calc(100% + 40px); } }
  @media only screen and (min-width: 657px) {
    .is-grid-row.is-collapsed,
    .u-grid-row.is-collapsed {
      margin-left: -20px;
      margin-right: -20px;
      width: calc(100% + 40px); } }
  @media only screen and (min-width: 768px) {
    .is-grid-row.is-collapsed,
    .u-grid-row.is-collapsed {
      margin-left: -20px;
      margin-right: -20px;
      width: calc(100% + 40px); } }
  @media only screen and (min-width: 1024px) {
    .is-grid-row.is-collapsed,
    .u-grid-row.is-collapsed {
      margin-left: -20px;
      margin-right: -20px;
      width: calc(100% + 40px); } }
  @media only screen and (min-width: 1440px) {
    .is-grid-row.is-collapsed,
    .u-grid-row.is-collapsed {
      margin-left: -20px;
      margin-right: -20px;
      width: calc(100% + 40px); } }
  .is-grid-row.is-equal-height,
  .u-grid-row.is-equal-height {
    display: flex;
    flex-wrap: wrap; }
  .is-grid-row.is-overflow-hidden,
  .u-grid-row.is-overflow-hidden {
    overflow: hidden; }

/* ---------------------------------------------------
Grid Col
--------------------------------------------------- */
/**
 * Build the grid for each namespace, wrap the col width/offset measurements in their breakpoint media query
 */
@media only screen and (min-width: 320px) {
  .is-col-mobile-s-1 {
    width: calc(8.3333333333% - 21.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-s-2 {
    width: calc(16.6666666667% - 23.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-s-3 {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-s-4 {
    width: calc(33.3333333333% - 26.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-s-5 {
    width: calc(41.6666666667% - 28.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-s-6 {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-s-7 {
    width: calc(58.3333333333% - 31.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-s-8 {
    width: calc(66.6666666667% - 33.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-s-9 {
    width: calc(75% - 35px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-s-10 {
    width: calc(83.3333333333% - 36.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-s-11 {
    width: calc(91.6666666667% - 38.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-s-12 {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-s-offset-0 {
    margin-left: calc(0% - 20px + 40px); }
  .is-col-mobile-s-offset-1 {
    margin-left: calc(8.3333333333% - 21.6666666667px + 40px); }
  .is-col-mobile-s-offset-2 {
    margin-left: calc(16.6666666667% - 23.3333333333px + 40px); }
  .is-col-mobile-s-offset-3 {
    margin-left: calc(25% - 25px + 40px); }
  .is-col-mobile-s-offset-4 {
    margin-left: calc(33.3333333333% - 26.6666666667px + 40px); }
  .is-col-mobile-s-offset-5 {
    margin-left: calc(41.6666666667% - 28.3333333333px + 40px); }
  .is-col-mobile-s-offset-6 {
    margin-left: calc(50% - 30px + 40px); }
  .is-col-mobile-s-offset-7 {
    margin-left: calc(58.3333333333% - 31.6666666667px + 40px); }
  .is-col-mobile-s-offset-8 {
    margin-left: calc(66.6666666667% - 33.3333333333px + 40px); }
  .is-col-mobile-s-offset-9 {
    margin-left: calc(75% - 35px + 40px); }
  .is-col-mobile-s-offset-10 {
    margin-left: calc(83.3333333333% - 36.6666666667px + 40px); }
  .is-col-mobile-s-offset-11 {
    margin-left: calc(91.6666666667% - 38.3333333333px + 40px); } }

@media only screen and (min-width: 657px) {
  .is-col-mobile-l-1 {
    width: calc(8.3333333333% - 21.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-l-2 {
    width: calc(16.6666666667% - 23.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-l-3 {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-l-4 {
    width: calc(33.3333333333% - 26.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-l-5 {
    width: calc(41.6666666667% - 28.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-l-6 {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-l-7 {
    width: calc(58.3333333333% - 31.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-l-8 {
    width: calc(66.6666666667% - 33.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-l-9 {
    width: calc(75% - 35px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-l-10 {
    width: calc(83.3333333333% - 36.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-l-11 {
    width: calc(91.6666666667% - 38.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-l-12 {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; }
  .is-col-mobile-l-offset-0 {
    margin-left: calc(0% - 20px + 40px); }
  .is-col-mobile-l-offset-1 {
    margin-left: calc(8.3333333333% - 21.6666666667px + 40px); }
  .is-col-mobile-l-offset-2 {
    margin-left: calc(16.6666666667% - 23.3333333333px + 40px); }
  .is-col-mobile-l-offset-3 {
    margin-left: calc(25% - 25px + 40px); }
  .is-col-mobile-l-offset-4 {
    margin-left: calc(33.3333333333% - 26.6666666667px + 40px); }
  .is-col-mobile-l-offset-5 {
    margin-left: calc(41.6666666667% - 28.3333333333px + 40px); }
  .is-col-mobile-l-offset-6 {
    margin-left: calc(50% - 30px + 40px); }
  .is-col-mobile-l-offset-7 {
    margin-left: calc(58.3333333333% - 31.6666666667px + 40px); }
  .is-col-mobile-l-offset-8 {
    margin-left: calc(66.6666666667% - 33.3333333333px + 40px); }
  .is-col-mobile-l-offset-9 {
    margin-left: calc(75% - 35px + 40px); }
  .is-col-mobile-l-offset-10 {
    margin-left: calc(83.3333333333% - 36.6666666667px + 40px); }
  .is-col-mobile-l-offset-11 {
    margin-left: calc(91.6666666667% - 38.3333333333px + 40px); } }

@media only screen and (min-width: 768px) {
  .is-col-tablet-s-1 {
    width: calc(8.3333333333% - 21.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-tablet-s-2 {
    width: calc(16.6666666667% - 23.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-tablet-s-3 {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px; }
  .is-col-tablet-s-4 {
    width: calc(33.3333333333% - 26.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-tablet-s-5 {
    width: calc(41.6666666667% - 28.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-tablet-s-6 {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px; }
  .is-col-tablet-s-7 {
    width: calc(58.3333333333% - 31.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-tablet-s-8 {
    width: calc(66.6666666667% - 33.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-tablet-s-9 {
    width: calc(75% - 35px);
    float: left;
    margin-left: 20px; }
  .is-col-tablet-s-10 {
    width: calc(83.3333333333% - 36.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-tablet-s-11 {
    width: calc(91.6666666667% - 38.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-tablet-s-12 {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; }
  .is-col-tablet-s-offset-0 {
    margin-left: calc(0% - 20px + 40px); }
  .is-col-tablet-s-offset-1 {
    margin-left: calc(8.3333333333% - 21.6666666667px + 40px); }
  .is-col-tablet-s-offset-2 {
    margin-left: calc(16.6666666667% - 23.3333333333px + 40px); }
  .is-col-tablet-s-offset-3 {
    margin-left: calc(25% - 25px + 40px); }
  .is-col-tablet-s-offset-4 {
    margin-left: calc(33.3333333333% - 26.6666666667px + 40px); }
  .is-col-tablet-s-offset-5 {
    margin-left: calc(41.6666666667% - 28.3333333333px + 40px); }
  .is-col-tablet-s-offset-6 {
    margin-left: calc(50% - 30px + 40px); }
  .is-col-tablet-s-offset-7 {
    margin-left: calc(58.3333333333% - 31.6666666667px + 40px); }
  .is-col-tablet-s-offset-8 {
    margin-left: calc(66.6666666667% - 33.3333333333px + 40px); }
  .is-col-tablet-s-offset-9 {
    margin-left: calc(75% - 35px + 40px); }
  .is-col-tablet-s-offset-10 {
    margin-left: calc(83.3333333333% - 36.6666666667px + 40px); }
  .is-col-tablet-s-offset-11 {
    margin-left: calc(91.6666666667% - 38.3333333333px + 40px); } }

@media only screen and (min-width: 1024px) {
  .is-col-desktop-l-1 {
    width: calc(8.3333333333% - 21.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-l-2 {
    width: calc(16.6666666667% - 23.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-l-3 {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-l-4 {
    width: calc(33.3333333333% - 26.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-l-5 {
    width: calc(41.6666666667% - 28.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-l-6 {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-l-7 {
    width: calc(58.3333333333% - 31.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-l-8 {
    width: calc(66.6666666667% - 33.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-l-9 {
    width: calc(75% - 35px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-l-10 {
    width: calc(83.3333333333% - 36.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-l-11 {
    width: calc(91.6666666667% - 38.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-l-12 {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-l-offset-0 {
    margin-left: calc(0% - 20px + 40px); }
  .is-col-desktop-l-offset-1 {
    margin-left: calc(8.3333333333% - 21.6666666667px + 40px); }
  .is-col-desktop-l-offset-2 {
    margin-left: calc(16.6666666667% - 23.3333333333px + 40px); }
  .is-col-desktop-l-offset-3 {
    margin-left: calc(25% - 25px + 40px); }
  .is-col-desktop-l-offset-4 {
    margin-left: calc(33.3333333333% - 26.6666666667px + 40px); }
  .is-col-desktop-l-offset-5 {
    margin-left: calc(41.6666666667% - 28.3333333333px + 40px); }
  .is-col-desktop-l-offset-6 {
    margin-left: calc(50% - 30px + 40px); }
  .is-col-desktop-l-offset-7 {
    margin-left: calc(58.3333333333% - 31.6666666667px + 40px); }
  .is-col-desktop-l-offset-8 {
    margin-left: calc(66.6666666667% - 33.3333333333px + 40px); }
  .is-col-desktop-l-offset-9 {
    margin-left: calc(75% - 35px + 40px); }
  .is-col-desktop-l-offset-10 {
    margin-left: calc(83.3333333333% - 36.6666666667px + 40px); }
  .is-col-desktop-l-offset-11 {
    margin-left: calc(91.6666666667% - 38.3333333333px + 40px); } }

@media only screen and (min-width: 1440px) {
  .is-col-desktop-1 {
    width: calc(8.3333333333% - 21.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-2 {
    width: calc(16.6666666667% - 23.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-3 {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-4 {
    width: calc(33.3333333333% - 26.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-5 {
    width: calc(41.6666666667% - 28.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-6 {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-7 {
    width: calc(58.3333333333% - 31.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-8 {
    width: calc(66.6666666667% - 33.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-9 {
    width: calc(75% - 35px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-10 {
    width: calc(83.3333333333% - 36.6666666667px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-11 {
    width: calc(91.6666666667% - 38.3333333333px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-12 {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; }
  .is-col-desktop-offset-0 {
    margin-left: calc(0% - 20px + 40px); }
  .is-col-desktop-offset-1 {
    margin-left: calc(8.3333333333% - 21.6666666667px + 40px); }
  .is-col-desktop-offset-2 {
    margin-left: calc(16.6666666667% - 23.3333333333px + 40px); }
  .is-col-desktop-offset-3 {
    margin-left: calc(25% - 25px + 40px); }
  .is-col-desktop-offset-4 {
    margin-left: calc(33.3333333333% - 26.6666666667px + 40px); }
  .is-col-desktop-offset-5 {
    margin-left: calc(41.6666666667% - 28.3333333333px + 40px); }
  .is-col-desktop-offset-6 {
    margin-left: calc(50% - 30px + 40px); }
  .is-col-desktop-offset-7 {
    margin-left: calc(58.3333333333% - 31.6666666667px + 40px); }
  .is-col-desktop-offset-8 {
    margin-left: calc(66.6666666667% - 33.3333333333px + 40px); }
  .is-col-desktop-offset-9 {
    margin-left: calc(75% - 35px + 40px); }
  .is-col-desktop-offset-10 {
    margin-left: calc(83.3333333333% - 36.6666666667px + 40px); }
  .is-col-desktop-offset-11 {
    margin-left: calc(91.6666666667% - 38.3333333333px + 40px); } }

.is-grid-col,
.u-grid-col {
  position: relative;
  /*
	Modifiers
	----------------------- */ }
  .is-grid-col.is-equal-height,
  .u-grid-col.is-equal-height {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

/* ===================================================
Accordion
=================================================== */
/* ---------------------------------------------------
Global Variables
--------------------------------------------------- */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-accordion"] {
  position: relative;
  /*
	Unresolved
	----------------------- */
  /*
	Wrapper Item
	----------------------- */
  /*
	Header/ Toggle Button
	----------------------- */
  /*
	Content/ Toggle Content
	----------------------- */
  /*
	Modifiers
	----------------------- */ }
  [data-css="c-accordion"] .is-closed {
    height: 0;
    transition: height ease 300ms;
    overflow: hidden; }
  [data-css="c-accordion"] .is-open {
    transition: height ease 300ms;
    overflow: hidden; }
  [data-css="c-accordion"] .is-calculating {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
    height: auto !important; }

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-accordion--default {
  /*
	Header/ Toggle Button
	----------------------- */
  /*
	Icon
	----------------------- */
  /*
	Content
	----------------------- */ }
  .c-accordion--default .accordion__btn {
    color: #666;
    display: block;
    font-size: 2rem;
    padding: 2.4rem 1rem 2.2rem 1rem;
    position: relative;
    text-decoration: none;
    text-transform: normal;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2px; }
    .c-accordion--default .accordion__btn::before, .c-accordion--default .accordion__btn::after {
      transition: bottom 300ms linear 300ms, transform 300ms linear;
      background-color: black;
      height: 2px;
      right: 1rem;
      top: 50%;
      width: 30px; }
    .c-accordion--default .accordion__btn::after {
      transform: rotate(90deg); }
    .c-accordion--default .accordion__btn.is-active::after {
      transform: rotate(0deg); }
    .c-accordion--default .accordion__btn .accordion__btn-inner {
      color: black; }
  .c-accordion--default .accordion__icon {
    position: relative; }
  .c-accordion--default .accordion__content-inner {
    padding: 1rem 0; }

/* ===================================================
COMPONENT: QUOTE
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-quote--default {
  max-width: 70%;
  text-align: left;
  position: relative; }
  .c-quote--default .quote__content {
    padding-left: 5rem;
    font-size: 3rem;
    font-weight: 300;
    line-height: 120%;
    font-style: italic; }
    .c-quote--default .quote__content::before {
      content: '"';
      display: inline;
      font-weight: 700;
      font-size: 11rem;
      position: absolute;
      left: -2rem;
      top: 2.5rem; }
  .c-quote--default .quote__author {
    display: block;
    padding-left: 5rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: right; }

/* ===================================================
Component: toggler
=================================================== */
/* ---------------------------------------------------
Global Variables
--------------------------------------------------- */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-toggler"] {
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 500ms ease-in-out, height 500ms ease-in-out, visibility 0ms linear 500ms; }
  [data-css="c-toggler"].is-open {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: opacity 500ms ease-in-out, height 500ms ease-in-out, visibility 0ms linear; }
  [data-css="c-toggler"].is-calculating {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
    height: auto !important; }

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
/* ===================================================
COMPONENT: VIDEO
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
/* ===================================================
COMPONENT: TABLE
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-table"] {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  /*
	Sub Elements
	----------------------- */
  /*
	States
	----------------------- */ }
  [data-css="c-table"] .table__content {
    margin-bottom: 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; }
  [data-css="c-table"] .table__caption {
    caption-side: bottom;
    text-align: left; }
  [data-css="c-table"] .table__head-inner {
    padding: 15px;
    font-weight: normal;
    text-align: left; }
  [data-css="c-table"] .table__data {
    padding: 15px 20px;
    text-align: left; }
  [data-css="c-table"] .is-bold {
    font-weight: bold; }

/* ---------------------------------------------------
Context: Zebra Table
--------------------------------------------------- */
.c-table--zebra {
  /*
	Sub Elements
	----------------------- */
  /*
	States
	----------------------- */ }
  .c-table--zebra .table__row:nth-child(n+1) {
    background-color: transparent; }
  .c-table--zebra .table__row:nth-child(2n+2) {
    background-color: #F5F5F5; }
  .c-table--zebra .is-th {
    background-color: #ff00d0;
    color: #FFFFFF; }

/* ===================================================
CTA COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-cta"] {
  border: 0;
  background-color: #ff00d0;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1em; }
  [data-css="c-cta"]:hover {
    cursor: pointer;
    background-color: #99007d; }

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
/* ---------------------------------------------------
Context: Overlay Trigger
--------------------------------------------------- */
.c-cta--overlay-trigger {
  display: inline-block;
  padding: 0;
  line-height: 0; }

/* ===================================================
Component: Form
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-form"] {
  /*
	Fieldset & Legend
	----------------------- */
  /*
	Cols & Rows
	----------------------- */
  /*
	Labels & Types
	----------------------- */
  /*
	Error
	----------------------- */ }
  [data-css="c-form"] .form__legend {
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: cursive;
    font-size: 120%; }
  [data-css="c-form"] .form__row {
    margin-bottom: 30px; }
    [data-css="c-form"] .form__row.is-small-margin {
      margin-bottom: 20px; }
  [data-css="c-form"] .form__col {
    margin-bottom: 2rem; }
    [data-css="c-form"] .form__col.is-text-center {
      text-align: center; }
  [data-css="c-form"] .form__label-wrapper {
    margin-bottom: 1rem; }
  [data-css="c-form"] .form__input-label {
    display: flex; }
  [data-css="c-form"] .form__input-wrapper {
    display: flex; }
  [data-css="c-form"] .form__input-text {
    padding: 8px;
    border: 1px solid #d2d2d2;
    width: 100%; }
  [data-css="c-form"] .form__input input,
  [data-css="c-form"] .form__datepicker input {
    padding: 13px;
    font-size: 14px; }
  [data-css="c-form"] .form__input #button,
  [data-css="c-form"] .form__datepicker #button {
    background: #ff00d0;
    color: white;
    cursor: pointer; }
    [data-css="c-form"] .form__input #button:hover,
    [data-css="c-form"] .form__datepicker #button:hover {
      cursor: pointer;
      background-color: #99007d; }
  [data-css="c-form"] .form__radio-list {
    display: block; }
  [data-css="c-form"] .form__radio-item {
    display: inline-block;
    margin-right: 30px; }
  [data-css="c-form"] .form__radio-input:checked ~ .form__radio-label::before {
    box-shadow: inset 0 0 0 10px #ff00d0;
    border-color: #ff00d0; }
  [data-css="c-form"] .form__radio-label {
    position: relative;
    padding-left: 45px;
    line-height: 32px;
    display: inline-block; }
    [data-css="c-form"] .form__radio-label:hover {
      cursor: pointer; }
    [data-css="c-form"] .form__radio-label::before {
      content: '';
      width: 32px;
      height: 32px;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      border-radius: 50%;
      border: 1px solid #d2d2d2; }
  [data-css="c-form"] .form__textarea {
    width: 100%; }
  [data-css="c-form"] .form__textarea-wrapper {
    display: flex; }
  [data-css="c-form"] .form__textarea-label {
    display: flex; }
  [data-css="c-form"] .form__textarea-input {
    padding: 8px;
    border: 1px solid #d2d2d2;
    width: 100%; }
  [data-css="c-form"] .form__checkbox-input:checked ~ .form__checkbox-label::before {
    content: '✔';
    background-color: #ff00d0;
    border-color: #ff00d0; }
  [data-css="c-form"] .form__checkbox-description {
    margin-top: 20px; }
  [data-css="c-form"] .form__checkbox-label {
    position: relative;
    padding-left: 45px;
    line-height: 32px;
    display: inline-block; }
    [data-css="c-form"] .form__checkbox-label:hover {
      cursor: pointer; }
    [data-css="c-form"] .form__checkbox-label::before {
      content: '';
      width: 32px;
      height: 32px;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      margin-right: 13px;
      background: #fff;
      border-radius: 4px;
      border: 1px solid #ccc;
      line-height: 32px;
      text-align: center;
      color: #fff; }
  [data-css="c-form"] .form__submit {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-style: inherit;
    background-color: #ff00d0;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-weight: 900;
    color: #fff;
    cursor: pointer; }
    [data-css="c-form"] .form__submit:hover {
      cursor: pointer;
      background-color: #99007d; }

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
/* ===================================================
Datepicker Pikaday
=================================================== */
.pika-single {
  position: relative;
  z-index: 100;
  display: block;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .pika-single.is-hidden {
    display: none; }
  .pika-single.is-bound {
    position: absolute !important;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5); }
  .pika-single::before, .pika-single::after {
    content: " ";
    display: table;
    clear: both; }

.pika-lendar {
  float: left;
  width: 240px;
  margin: 8px; }

.pika-title {
  position: relative;
  text-align: center; }
  .pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0; }

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  background-color: #fff; }

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  opacity: .5;
  *position: absolute;
  *top: 0; }
  .pika-prev:hover,
  .pika-next:hover {
    opacity: 1; }
  .pika-prev.is-disabled,
  .pika-next.is-disabled {
    cursor: default;
    opacity: .2; }

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
  *left: 0; }

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
  *right: 0; }

.pika-select {
  display: inline-block;
  *display: inline; }

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0; }
  .pika-table th,
  .pika-table td {
    width: 14.285714285714286%;
    padding: 0; }
  .pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center; }
  .pika-table abbr {
    border-bottom: none;
    cursor: help; }

.pika-button {
  cursor: pointer;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #666;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  background: #f5f5f5; }
  .is-today .pika-button {
    color: #3af;
    font-weight: bold; }
  .is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #3af;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px; }
  .is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3; }
  .pika-button:hover {
    color: #fff;
    background: #ff8000;
    box-shadow: none;
    border-radius: 3px; }

.pika-week {
  font-size: 11px;
  color: #999; }

.is-inrange .pika-button {
  background: #d5e9f7; }

.is-startrange .pika-button {
  color: #fff;
  background: #6cb31d;
  box-shadow: none;
  border-radius: 3px; }

.is-endrange .pika-button {
  color: #fff;
  background: #3af;
  box-shadow: none;
  border-radius: 3px; }

/* ===================================================
Block: comparer
=================================================== */
[data-css="c-comparer"] {
  /*
	Global Styles
	----------------------- */
  position: relative;
  overflow: hidden;
  /*
	Modifiers
	----------------------- */
  /*
	Top Container
	----------------------- */ }
  [data-css="c-comparer"] .is-right .comparer__top-container {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 1px solid #fff; }
  [data-css="c-comparer"] .is-right .comparer__top-content {
    left: auto;
    right: 0; }
  [data-css="c-comparer"] .is-right .comparer__handle {
    left: 0;
    right: auto;
    transform: translate(-50%, -50%); }
  [data-css="c-comparer"] .comparer__top-container {
    background-color: inherit;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    min-width: 2%;
    max-width: 98%;
    z-index: 1;
    border-right: 1px solid #fff; }
  [data-css="c-comparer"] .comparer__top {
    position: relative;
    overflow: hidden;
    height: 100%; }
  [data-css="c-comparer"] .comparer__top-content {
    position: absolute;
    left: 0;
    top: 0; }
  [data-css="c-comparer"] .comparer__handle-bar {
    height: 100%;
    width: 30px;
    position: absolute;
    right: -15px;
    z-index: 1;
    cursor: col-resize; }
  [data-css="c-comparer"] .comparer__handle {
    cursor: col-resize;
    position: absolute;
    top: 50%;
    right: 0;
    width: 87px;
    height: 87px;
    transform: translate(50%, -50%);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px;
    border-radius: 50%; }

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
/* ===================================================
COMPONENT: BADGE
=================================================== */
/* ---------------------------------------------------
Global Variables
--------------------------------------------------- */
/* ---------------------------------------------------
Helper mixins
--------------------------------------------------- */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-badge"] {
  /*
	Standard styles
	----------------------- */
  display: inline-block;
  /*
	Content classes
	----------------------- */
  /*
	Modifiers
	----------------------- */ }
  [data-css="c-badge"] .badge__content {
    background-color: #999;
    border-radius: 12.5rem;
    color: black;
    font-size: 2.5rem;
    line-height: 1;
    padding: 1.2rem 2.7rem; }
  [data-css="c-badge"] .is-alert {
    background-color: #fff6bf;
    border-radius: 12.5rem;
    color: #8c7800;
    font-size: 2.5rem;
    line-height: 1;
    padding: 1.2rem 2.7rem; }
  [data-css="c-badge"] .is-error {
    background-color: #fbe3e4;
    border-radius: 12.5rem;
    color: #97161b;
    font-size: 2.5rem;
    line-height: 1;
    padding: 1.2rem 2.7rem; }
  [data-css="c-badge"] .is-notice {
    background-color: #e5edf8;
    border-radius: 12.5rem;
    color: #244e87;
    font-size: 2.5rem;
    line-height: 1;
    padding: 1.2rem 2.7rem; }
  [data-css="c-badge"] .is-success {
    background-color: #e6efc2;
    border-radius: 12.5rem;
    color: #56651a;
    font-size: 2.5rem;
    line-height: 1;
    padding: 1.2rem 2.7rem; }

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
/* ===================================================
COMPONENT: PAGINATION
=================================================== */
/* ---------------------------------------------------
Global Variables
--------------------------------------------------- */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-pagination"] {
  /*
	Modifiers
	----------------------- */ }
  [data-css="c-pagination"] .pagination__list {
    list-style: none; }

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-pagination--default .is-hidden {
  display: none; }

.c-pagination--default .pagination__list {
  width: auto; }

.c-pagination--default .pagination__list-item {
  position: relative;
  float: left;
  margin-right: 5px;
  width: 50px;
  background-color: #fff;
  text-align: center;
  border: 1px solid rgba(51, 51, 51, 0.3); }
  .c-pagination--default .pagination__list-item:hover {
    border-color: #ccc; }
  .c-pagination--default .pagination__list-item.is-active {
    border: 1px solid #ccc;
    box-shadow: inset 0 0 0 4px #ff00d0; }
  .c-pagination--default .pagination__list-item .is-hidden {
    display: block; }
  .c-pagination--default .pagination__list-item:first-child, .c-pagination--default .pagination__list-item:last-child {
    border-color: #ff00d0; }

.c-pagination--default .pagination__list-element {
  color: #333;
  display: block;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 2;
  padding: 14px 0;
  text-decoration: none;
  transition: color 0.2s ease; }
  .c-pagination--default .pagination__list-element.is-active {
    color: #ccc;
    transition: color 0.2s ease; }
  .c-pagination--default .pagination__list-element.is-previous, .c-pagination--default .pagination__list-element.is-next {
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    background: #ff00d0;
    height: 37px; }
    .c-pagination--default .pagination__list-element.is-previous::after, .c-pagination--default .pagination__list-element.is-next::after {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 1.8rem;
      opacity: 1; }
  .c-pagination--default .pagination__list-element.is-previous::after {
    content: '<'; }
  .c-pagination--default .pagination__list-element.is-next::after {
    content: '>'; }

/* ===================================================
ARTICLE COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-article"] {
  background: #f2f2f2;
  padding: 0.5em;
  /*
	Header
	----------------------- */
  /*
	Content
	----------------------- */
  /*
	Footer
	----------------------- */ }

/* ---------------------------------------------------
Context: Default Example
--------------------------------------------------- */
.c-article--default {
  /*
	Header
	----------------------- */ }
  .c-article--default .article__header {
    margin-bottom: 3rem; }
  .c-article--default .article__header-time {
    font-size: 1.2rem; }
  .c-article--default .article__header-headline {
    font-size: 2.8rem;
    margin-bottom: 1.15rem; }
  .c-article--default .article__header-subline {
    font-size: 2.2rem;
    margin-bottom: .75rem; }
  .c-article--default .article__header-intro {
    font-size: 2rem;
    font-weight: 900; }
  .c-article--default .article__footer {
    margin-top: 3rem; }

/* ===================================================
COMPONENT: PICTURE
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-picture"] .picture__image {
  max-width: 100%;
  overflow: hidden;
  transition: filter 300ms ease; }
  [data-css="c-picture"] .picture__image.lazyload {
    width: 100%;
    filter: blur(10px); }
  [data-css="c-picture"] .picture__image.lazyloaded {
    filter: blur(0); }

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
/* ===================================================
BLOCK: OVERLAY
=================================================== */
/* ---------------------------------------------------
Global Variables
--------------------------------------------------- */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-overlay"] {
  /*
	Standard styles
	----------------------- */
  left: 0;
  position: fixed;
  opacity: 0;
  overflow: hidden;
  top: 0;
  visibility: hidden;
  z-index: 9999;
  height: 0;
  /*
	Modifiers
	----------------------- */
  /*
	Wrapper
	----------------------- */
  /*
	CTA
	----------------------- */
  /*
	Content
	----------------------- */
  /*
	Mask
	----------------------- */ }
  [data-css="c-overlay"].is-open {
    height: 100%;
    opacity: 1;
    transition: opacity 300ms ease;
    visibility: visible;
    width: 100%; }
  [data-css="c-overlay"] .overlay__wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 9999;
    overflow: auto; }
  [data-css="c-overlay"] .overlay__close {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-style: inherit;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    z-index: 9997; }
    [data-css="c-overlay"] .overlay__close::after {
      content: '';
      display: block;
      position: absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: 'X';
      cursor: pointer;
      color: #fff; }
  [data-css="c-overlay"] .overlay__content {
    display: block;
    height: 100%;
    margin: auto;
    position: relative; }
  [data-css="c-overlay"] .overlay__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    width: auto;
    margin: 0 auto 0 auto;
    vertical-align: top; }
  [data-css="c-overlay"] .overlay__mask {
    background: #000;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%; }

/* ===================================================
FIGURE COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-figure"] .figure__caption-inner {
  background: #f2f2f2;
  padding: 0.5em; }

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
/* ===================================================
RTE COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-rte"] {
  /*
	Headlines
	----------------------------- */
  /*
	Paragraph
	----------------------------- */
  /*
	Lists
	----------------------------- */
  /*
	Tables
	----------------------------- */
  /*
	Others
	----------------------------- */ }
  [data-css="c-rte"] p:last-child {
    margin: 0; }
  [data-css="c-rte"] strong, [data-css="c-rte"] b {
    font-weight: 700; }
  [data-css="c-rte"] em,
  [data-css="c-rte"] i {
    font-style: italic; }

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
/* ===================================================
COMPONENT: SLIDE FOX
=================================================== */
/* ---------------------------------------------------
Global Variables
--------------------------------------------------- */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-slide-fox"] {
  transition: transform 1000ms ease, opacity 1000ms ease;
  transform: translate3d(0, 100%, 0);
  opacity: 0; }
  [data-css="c-slide-fox"].is-visible {
    transform: translate3d(0, 0, 0);
    opacity: 1; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]::after {
    content: " (" attr(href) ")"; }
  abbr[title]::after {
    content: " (" attr(title) ")"; }
  /*
	* Don't show links for images, or javascript/internal links
	*/
  .ir a::after,
  a[href^="javascript:"]::after,
  a[href^="#"]::after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: .5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=styles.css.map */