/* ===================================================
Accordion
=================================================== */

/* ---------------------------------------------------
Global Variables
--------------------------------------------------- */
$accordion-toggle-duration: 300ms !default;
$accordion-transition-method: ease !default;
$accordion-icon-color: #666 !default;
$accordion-icon-width: 30px !default;
$accordion-icon-height: 2px !default;
$accordion-btn-color: $accordion-icon-color !default;
$accordion-btn-bg-color: rgba(255, 255, 255, 0.5) !default;
$accordion-padding: 1rem !default;

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-accordion"] {
	position: relative;

	/*
	Unresolved
	----------------------- */
	&.is-unresolved {
	}

	/*
	Wrapper Item
	----------------------- */
	.accordion__item {
	}

	/*
	Header/ Toggle Button
	----------------------- */
	.accordion__header {
	}
	.accordion__btn {
	}
	.accordion__icon {
	}

	/*
	Content/ Toggle Content
	----------------------- */
	.accordion__content {
	}
	.accordion__content-inner {
	}

	/*
	Modifiers
	----------------------- */
	.is-closed {
		height: 0;
		transition: height $accordion-transition-method $accordion-toggle-duration;
		overflow: hidden;
	}

	.is-open {
		transition: height $accordion-transition-method $accordion-toggle-duration;
		overflow: hidden;
	}

	// !IMPORTANT for calculation
	.is-calculating {
		position: absolute !important;
		visibility: hidden !important;
		display: block !important;
		height: auto !important;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-accordion--default {
	/*
	Header/ Toggle Button
	----------------------- */
	.accordion__btn {
		color: $accordion-btn-color;
		display: block;
		font-size: $accordion-padding * 2;
		padding: ($accordion-padding * 2.4) $accordion-padding ($accordion-padding * 2.2) $accordion-padding;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		background-color: $accordion-btn-bg-color;
		margin-bottom: 2px;

		&::before,
		&::after {
			@extend %pseudo;

			transition: bottom $accordion-toggle-duration linear $accordion-toggle-duration, transform $accordion-toggle-duration linear;
			background-color: $accordion-icon-color;
			height: $accordion-icon-height;
			right: $accordion-padding;
			top: 50%;
			width: $accordion-icon-width;
		}

		&::after {
			transform: rotate(90deg);
		}

		&.is-active {

			&::after {
				transform: rotate(0deg);
			}
		}
	}

	/*
	Icon
	----------------------- */
	.accordion__icon {
		position: relative;
	}

	/*
	Content
	----------------------- */
	.accordion__content-inner {
		padding: $accordion-padding 0;
	}
}